{# templates/menu.html.twig #}
{% block sidebar %}
    <ul>
        <li><a href="{{ path('default') }}">Home</a></li>
        <li><a href="{{ path('product_list') }}">Product List</a></li>
    </ul>
{% endblock %}

